<!DOCTYPE html>
<html>
<head>
<title>Paper</title>
<link rel="icon" href="/static/icon/logo.webp">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'profile' %}">Profile</a>
      <a class="navbar-brand" href="{% url 'posts' %}">Paper</a>
  </div>
</nav>
{% block content %}
{% endblock content %}
</div>
<footer class="text-center h3">Enjoy the Blog</footer>
</body>
</html>
